/*********************************** Pied de page *******************************************/
footer {
     background: linear-gradient(rgba(0, 0, 0, 0.719), rgba(4, 177, 245, 0.5)), url('img/voyage-a.jpg');
     padding: 25px;
     display: flex;
     justify-content: space-between;
     color: #fff;
}

/* Styles pour chaque bloc du pied de page */

/* Bloc des raccourcis */
.footer-shortcuts {
     flex: 0.8;
     margin-right: 15px;
}

/* Bloc des réseaux sociaux */
.footer-social {
     flex: 0.8;
     margin-right: 15px;
}

/* Styles pour les icônes des réseaux sociaux */
.footer-social a i {
     margin-right: 5px;
}

/* Bloc des partenaires */
.footer-partners {
     flex: 0.8;
     margin-right: 15px;
}

/* Bloc des droits et sécurité */
.footer-legal {
     flex: 0.8;
}

/* Styles pour les liens dans chaque bloc */
.footer-shortcuts ul li a,
.footer-social ul li a,
.footer-partners ul li a,
.footer-legal p a {
     color: #fff;
     text-decoration: none;
     transition: color 0.3s ease;
}

/* Styles pour les titres de chaque bloc */
.footer-shortcuts h3,
.footer-social h3,
.footer-partners h3,
.footer-legal h3 {
     margin-bottom: 10px;
     font-size: 1.2em;
     font-weight: bold;
     color: #fff;
}

/* Styles spécifiques pour les liens des réseaux sociaux */
.footer-social ul li a {
     display: flex;
     align-items: center;
     transition: color 0.3s ease;
}

/* Effet de hover pour les liens */
.footer-shortcuts ul li a:hover,
.footer-social ul li a:hover,
.footer-partners ul li a:hover,
.footer-legal p a:hover {
     color: yellow;
}

/* Effet de hover pour les icônes des réseaux sociaux */
.footer-social ul li a:hover i {
     color: yellow;
}

/* Animation pour les titres */
.footer-shortcuts h3:hover,
.footer-social h3:hover,
.footer-partners h3:hover,
.footer-legal h3:hover {
     color: yellow;
}