.banner {
     min-height: 80vh;
     background-image: url('img/immigrer/banner.jpg');
     background-size: cover;
     color: #fff;
     text-align: center;
     padding: 180px 20px;
     transition: max-height 0.7s, background-color 1s;
     position: relative;
     margin-top: 88px;
}

.banner::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     background: linear-gradient(rgba(4, 177, 245, 0.534), rgba(0, 0, 0, 0.466));
     width: 100%;
     height: 100%;
     /* Fond semi-transparent */
     z-index: 0;
     transition: opacity 0.5s;
     /* Transition pour le pseudo-élément */
}

.banner:hover::before {
     opacity: 0;
     /* Opacité augmentée au survol */
}

.banner h1,
.banner p {
     position: relative;
     /* Ajout pour gérer la superposition */
     z-index: 1;
     /* Assure que le texte est au-dessus du pseudo-élément */
}

.banner h1 {
     margin: 0;
     font-size: 3em;
}

.banner p {
     font-size: 1.2em;
     font-weight: bold;
}

.banner:hover {
     min-height: 70vh;
     background-image: url('img/immigrer/hove.jpg'); /* Changement de background pour éviter une rupture */
     color: #fff;
     z-index: 1; /* Assure que le texte est au-dessus du pseudo-élément */
}


.subscribe {
     position: absolute;
     right: 40px;
     bottom: 80px;
     font-weight: bold;
     font-size: 1.5rem;
}

.subscribe a {
     text-decoration: none;
}

.subscribe .sinscrire {
     background:#3936f8;
     border: solid 1px yellow;
     color: yellow;
     padding: 5px 10px;
     margin-left: 5px;
     border-radius: 10px;
     transition: background 0.3s ease, border-radius 0.3s ease;
}

.subscribe .sinscrire:hover {
     background: rgba(4, 245, 64, 0.685);
     border-radius: 20px 0;
     padding: 5px 10px;
}

.subscribe .seconnecter {
     background: rgba(5, 5, 5, 0.685);
          color: #fff;
          padding: 5px 10px;
          border: solid 1px #fff;
          margin-left: 5px;
          border-radius: 10px;
          transition: background 0.3s ease, border-radius 0.3s ease;
}

.subscribe .sinscrire:hover {
     background: rgba(36, 68, 18, 0.685);
     border-radius: 20px 0;
     border: #fff 1px solid;
     padding: 13px;
}

.subscribe .seconnecter:hover {
     background:rgba(7, 57, 66, 0.479);
     color: yellow;
     border-radius: 20px 0;
     
}

/* Section texte et image */
.text-content h2{
     margin-bottom: 10px;
}

.destinations{
     display: flex;
     flex-direction: row;
     gap: 10px;
     margin-top: 10px;
}
.destinations a{
     text-decoration: none;
     font-weight: bold;
     font-size: 1.2rem;
     padding: 8px 20px;
     background-color: #817b7b;
     color: #fff;
     border-radius: 10px;
}


.content-section {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 40px 40px;
}

.content-section .text-content {
     flex: 1;
     padding: 10px;
     margin-right: 5px ;
}

.content-section .image-content {
     flex: 0.5;
}

.content-section .image-content img {
     max-width: 100%;
     height: 200px;
}

/* Section architecture moderne */
.features {
     background-color: #e0e0e0;
     padding: 50px 20px;
     text-align: center;
}

.features h2 {
     margin-bottom: 40px;
}

.features .feature {
     display: inline-block;
     width: 30%;
     padding: 15px;
     box-sizing: border-box;
     background-color: #fff;
     margin: 10px;
     border-radius: 10px;
     transition: all 0.3s ease;
}

.features .feature:hover {
     transform: translateY(-5px);
}

.features .feature i {
     font-size: 2em;
     color: #007BFF;
}

.features .feature h3 {
     margin: 20px 0 10px;
}

.features .feature p {
     font-size: 1em;
}


/* Styles généraux */
body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f5f5f5;
     color: #333;
}
