/* Réinitialise les marges et les paddings par défaut pour tous les éléments */
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* Définition de la police par défaut pour le corps de la page */
body {
     font-family: 'Courier New', Courier, monospace, sans-serif;
}

/* Styles pour la bannière */
.banner {
     position: relative;
     width: 100%;
     overflow: hidden;
}

/* Image de la bannière */
.banIm {
     margin-top: 110px;
     width: 100%;
     height: 80vh;
     object-fit: cover;
}

/* Contenu de la bannière */
.banner-content {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
     text-align: center;
     padding: 20px;
}

.banner-content h1 {
     font-size: 3rem;
     margin-bottom: 20px;
}

.banner-content ul {
     list-style: none;
     padding: 0;
     display: flex;
     gap: 20px;
}

.banner-content ul li {
     background: linear-gradient(rgba(4, 177, 245, 0.8), rgba(0, 0, 0, 0.9));
     border: 1.5px solid #fff;
     border-radius: 5px;
     padding: 10px;
     font-weight: bold;
}

.banner-content ul li a {
     text-decoration: none;
     color: #fff;
     display: block;
}

.banner-content ul li:hover {
     background-color: rgb(35, 235, 9);
     color: black;
}

@media (max-width: 768px) {
     .banner-content ul {
          flex-direction: column;
          gap: 10px;
     }

     .banner-content {
          width: 90%;
          top: 60%;
     }
}

/* Section values */
.values {
     margin: 40px;
}

.values h2 {
     margin: 10px 0;
     color: rgb(12, 62, 78);
     font-weight: bold;
     font-size: 2rem;
}

.values-text {
     display: flex;
     flex-direction: row;
     gap: 40px;
     text-align: justify;
     line-height: 1.5;
}

.values-image img {
     height: 300px;
     width: 300px;
     border-radius: 10px;
}

/* Section commitments */
.commitments {
     margin: 40px;
     padding: 30px;
     background: linear-gradient(rgba(4, 177, 245, 0.8), rgba(0, 0, 0, 0.9));
     text-align: justify;
     line-height: 1.5;
     color: #fff;
}

.commitments h2 {
     margin: 10px 0;
     font-weight: bold;
     font-size: 2rem;
}

/* Section method-recrutement */
.method-recrutement {
     background: linear-gradient(#1cf8a4, rgba(52, 11, 235, 0.719), rgba(4, 177, 245, 0.5));
     padding: 20px;
     text-align: center;
     position: relative;
}

.method-recrutement .method-recrutement-content {
     display: inline-block;
     width: 200px;
     margin: 20px;
     vertical-align: top;
     transition: transform 0.3s ease;
}

.method-recrutement img {
     width: 100%;
     height: auto;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     transition: transform 0.3s ease;
}

.method-recrutement p {
     text-align: justify;
     color: #fff;
}

.method-recrutement .method-recrutement-content:hover {
     transform: scale(1.1);
}

.method-recrutement img:hover {
     transform: scale(1.05);
}

.method-recrutement-content p a {
     text-decoration: none;
}
